<app-navbar></app-navbar>
<div class="shop-section">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-2 right-border pl-3 pr-3">
          <div class="catalog-title">
            <span>Пропозиції</span>
          </div>
          <div class="category-title">
            <span class="item-title">Всі пропозиції</span>
          </div>
          <div class="category-title">
            <span class="item-title active">Пиво</span>
            <ul>
              <li class="active">Біле</li>
              <li>Світле</li>
              <li>Темне</li>
            </ul>
          </div>
          <div class="category-title">
            <span class="item-title">Слабоалкогольні напої</span>
            <ul>
              <li>Сідр</li>
              <li>Винний ель</li>
              <li>Бірмікс</li>
            </ul>
          </div>
        </div>
        <div class="col-xs-10">
          <div class="row">

            <!-- INSERT SCKELET LOADING -->
          <!-- <div class="col-xs-3">
              <ProductItemEmpty />
            </div> -->
            
            
            <!-- INSERT LOOP OF PRODUCTS -->
            <!-- {this.props.products.map((product, i) => (
              <div class="col-xs-3">
                <ProductItem
                  key={i}
                  productId={product.id}
                  title={product.title}
                  image={product.image}
                  description={product.description}
                  price={product.price}
                  addToCard={(id) => this.addToCard(id)}
                />
              </div>
            ))} -->
            </div>
        </div>
      </div>
    </div>
  </div>
