@import '../../../variables.scss'; 

.card-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
   
    width: 100%;
    height: 100%;

    img {
        position: relative;
        top: -10px;
        opacity: 0.3;
    }

    .card-logo-button {
        cursor: pointer;
    }
}

.card-area {
    height: 100%;
    width: 700px;
    position: fixed;
    top: 0;
    right: 0;
    color: black;
    z-index: 9999999;
    background-color: #fff;
    box-shadow: -2px 1px 5px 0px rgba(0,0,0,0.75);
    padding: 20px 40px;
    transition: ease-in-out all 0.3s;

    .svg {
        color: $darkBlue;
    }
}

.card-items-area {
    height: 60%;
    overflow-y: auto;
}

.card-items-area::-webkit-scrollbar {
    width: 4px;
  }
   
  .card-items-area::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
   
  .card-items-area::-webkit-scrollbar-thumb {
    background-color: $darkBlue;
    outline: 1px solid slategrey;
  }

.card-sum-area {
    height: 40%;
    padding-top: 20px;

    .btn-lg {
        cursor: pointer;
    }

    .top-container {
        width: 100%;
        font-weight: normal;
        font-size: 24pt;
    }

    .card-item-total-price {
        width: 30%;

        span {
            font-weight: normal;
            font-size: 16pt;
        }
    }

    .total-item-name {
        width: 70%;
    }

    .item-total-price {
        width: 30%;
    }

    .btn-order-dark-blue {
        color: $darkBlue;
    }
}

.is-opened-card {
    transform: translateX(0%);
}

.is-closed-card {
    transform: translateX(+100%);
}