@import '../../../variables.scss'; 

.card-area {
    height: 100%;
    width: 700px;
    position: fixed;
    top: 0;
    right: 0;
    color: black;
    z-index: 9999999;
    background-color: #fff;
    box-shadow: -2px 1px 5px 0px rgba(0,0,0,0.75);
    padding: 20px 40px;
    transition: ease-in-out all 0.3s;

    .svg {
        color: $darkBlue;
    }

    .card-logo {
        position: absolute;
        top: 50%;
        opacity: 0.2;
    }
}

.card-items-area {
    height: 70%;
    overflow-y: auto;

    .card-item {
        height: 180px;
        width: 100%;
        position: relative;
        margin-bottom: 10px;
        
        .card-item-img {
            background-color: rgb(252, 252, 252);
            position: absolute;
            top: 0;
            display: inline-block;
            width: 120px;
            height: inherit;

            img{
                width: inherit;
                height: inherit;
            }
        }

        .card-item-details {
            display: inline-block;
            width: calc(100% - 10px);
            height: inherit;

           

            .card-item-name {
                font-size: 24pt;
                font-weight: 400;
                width: 70%;
                line-height: 1.2em;
            }

            

            .card-item-counter-container {
                margin-top: 20px;
                margin-bottom: 20px;
                width: calc(100% - 10px);
            }

            .bottle-about-area {
                width: 70%;
                font-size: 14pt;
                font-weight: normal;
            }

            .bottle-price {
                font-size: 24pt;
            }
        }

        .card-delete-item-container {
            display: inline-block;
            width: 10px;
        }
    }

    .card-delete-item-btn {
        color:red;
    }

    .top-container {
        width: 100%;
        font-weight: normal;
        font-size: 24pt;
    }

    .card-item-total-price {
        width: 30%;

        span {
            font-weight: normal;
            font-size: 16pt;
        }
    }

}

.card-items-area::-webkit-scrollbar {
    width: 4px;
  }
   
  .card-items-area::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
   
  .card-items-area::-webkit-scrollbar-thumb {
    background-color: $darkBlue;
    outline: 1px solid slategrey;
  }

.card-sum-area {
    height: 30%;
    padding-top: 20px;

    .top-container {
        width: 100%;
        font-weight: normal;
        font-size: 24pt;
    }

    .card-item-total-price {
        width: 30%;

        span {
            font-weight: normal;
            font-size: 16pt;
        }
    }

    .total-item-name {
        width: 70%;
    }

    .item-total-price {
        width: 30%;
    }
}

.is-opened-card {
    transform: translateX(0%);
}

.is-closed-card {
    transform: translateX(+100%);
}