<div class="card-area"
    [ngClass]="{'is-opened-card': isOpenedCard}"
    [ngClass]="{'is-closed-card': !isOpenedCard}"
    >

    <div class="mt-2 ml-3 svg">
        <fa-icon [icon]="faTimes"
            class="cursor-pointer"
            (click)="toggleCard()" 
            size="2x" ></fa-icon>
    </div> 

    <div *ngIf="!hasItems" class="card-logo">
        <img src="../../../assets/pics/WB-logo.jpg" />
        <p>КОРЗИНА ПУСТА</p>
        <div class="text-center card-logo-button" (click)="toggleCard()" >
            <div class="btn-lg text-white  btn-primary btn-order-dark-blue">Начать покупки</div>
        </div>
    </div>

    <div class="card-items-area mt-2" *ngIf="hasItems">
        <div class="card-item mt-2 mb-2" *ngFor="let cardItem of items">
            <app-card-item
                (emitQuantity)="setQuantity($event)"
                (emitDeleteFromCard)="deleteFromCard($event)"
                [cardItem]="cardItem"
            ></app-card-item>
            <hr />
        </div>
    </div>
    <hr *ngIf="hasItems" />
    <div class="card-sum-area" *ngIf="hasItems">
        <div class="top-container">
            <div class="total-item-name d-inline-block">
                Итого к оплате:
             </div>
             <div class="item-total-price d-inline-block text-right">
                 {{totalPrice}}
                 <span> грн.</span>
             </div>

             <div class="text-center mt-5 mb-2">
                <div class="btn-lg text-white  btn-secondary">Продолжить покупки</div>
            </div>

             <div class="text-center mt-2 mb-2">
                <div class="btn-lg text-white  btn-primary btn-order-dark-blue">Оформить заказ</div>
            </div>
        </div>
    </div>
</div>