<div class="card-area"
    [ngClass]="{'is-opened-card': isOpenedCard}"
    [ngClass]="{'is-closed-card': !isOpenedCard}"
    >

    <div class="mt-2 ml-3 svg">
        <fa-icon [icon]="faTimes"
            class="cursor-pointer"
            (click)="toggleCard()" 
            size="2x" ></fa-icon>
    </div> 

    <div class="card-items-area mt-2">
        <div class="card-item mt-2 mb-2" *ngFor="let cardItem of items">
            <div class="container">
                <div class="row">
                    <div class="col-3">
                        <div class="card-item-img">
                            <img src="{{cardItem.product.previewImg}}" />
                        </div>
                    </div>
                    <div class="col-9">
                        <div class="card-item-details">
                            <div class="top-container">
                                <div class="card-item-name d-inline-block">
                                    {{cardItem.product.name}}
                                </div>
                                <div class="card-item-total-price d-inline-block text-right">
                                    {{cardItem.product.price}}
                                    <span> грн.</span>
                                </div>
                            </div>
                            
                            <div class="card-item-counter-container pl-3 d-inline-block">
                                <app-counter
                                    [quantity]="quantity"
                                    (quantityEvent)="setQuantity($event)"
                                ></app-counter>
                            </div>

                            <div class="card-delete-item-container">
                                <fa-icon [icon]="faTimes"
                                    (click)="deleteFromCard(cardItem.product)"
                                    class="cursor-pointer card-delete-item-btn" ></fa-icon>
                            </div>

                            <div class="bottle-about-area d-inline-block">
                                <p>{{ parseBottlesAsInformStr(cardItem) }} </p>
                            </div>

                            <div class="card-item-total-price bottle-price d-inline-block text-right">
                                {{ cardItem.totalBottlesPrice }}
                                <span> грн.</span>
                            </div>
                        </div>  
                         
                    </div>
                </div>
            </div> 
        </div>
    </div>
    <hr />
    <div class="card-sum-area">
        <div class="top-container">
            <div class="total-item-name d-inline-block">
                Итого к оплате:
             </div>
             <div class="item-total-price d-inline-block text-right">
                 {{totalPrice}}
                 <span> грн.</span>
             </div>
        </div>
    </div>
</div>