<div class="product-item-card card">
    <img class="card-img-top" width="100%" class="grey-background" src="{{product.previewImg}}" alt="Card image cap">
    <div class="card-body">
        <div class="card-title"><b>{{product.name.substr(0, 15)}}</b></div>
        <div class="card-text">
            <div class="card-text">{{description}}</div>
            <div class="raiting">
                <fa-icon [icon]="faStar"></fa-icon>
                <fa-icon [icon]="faStar"></fa-icon>
                <fa-icon [icon]="faStar"></fa-icon>
                <fa-icon [icon]="faStar" class="raiting-negative"></fa-icon>
                <fa-icon [icon]="faStar" class="raiting-negative"></fa-icon>
                <span class="price-color">{{product.price}} грн. за кг</span>
            </div>
        </div>
        <div class="d-flex justify-content-between mt-1">
            <div class="counter-body d-flex alight-items-center justify-content-between">
                <div>
                    <fa-icon (click)="dicrement()" [icon]="faMinus"></fa-icon>
                </div>
                <div class="counter-num">{{quantity}}</div>
                <div>
                    <fa-icon (click)="increment()" [icon]="faPlus"></fa-icon>
                </div>
            </div>
            <div class="bottle-container">
                <fa-icon (click)="openBottleOptions()" size="2x" [icon]="faWineBottle"></fa-icon>
            </div>
            <button (click)="addToCard()" class="btn btn-primary btn-sm color-btn">
                У кошик
            </button>
        </div>
    </div>
</div>